In [1]:
import csv
import pandas as pd

In [2]:
file='E8Consolidated_expenses.csv'
cr =  csv.reader(open(file,'r'))
#cr = list(cr)
    
data=[]
cols = ['Date', 'Account', 'Reference', 'Description', 'Expenses', 'Income']
d=[] #stores current group
bu='002'
for i in range(3):
    next(cr)
for row in cr:
    #print(row)
    x=row[0]  
    if x in [''] or x.startswith('Net Expenses :'):
        continue
    if x.startswith('Project :'): #we have a new budget line        
        new_bline = x.split()[5]
        #print(x, new_bline)
        #make dataframe from rows for last group and make a new list
        df=pd.DataFrame(d,columns=cols)
        df['budgetline'] = bu
        #print(bu, len(df))
        data.append(df)
        d=[]
        bu=new_bline # set current bline
    else:
        #add row to current group
        d.append(row)
#add last remaining group as well
df=pd.DataFrame(d,columns=cols)
df['budgetline'] = bu
#print(bu, len(df))
data.append(df)
        
result = pd.concat(data)
result=result.convert_objects(convert_numeric=True)
result['Income'] = result.Income.fillna(0)
result['Expenses']=result.Expenses.fillna(0)
result['net_expenses'] = result.Expenses-result.Income
#print (result[500:550])
result.to_csv('March_result.csv',index=False)
display(result)

/home/francis/.local/lib/python3.6/site-packages/ipykernel_launcher.py:36: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use DataFrame.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.

,Date,Account,Reference,Description,Expenses,Income,budgetline,net_expenses
0,09/01/2018,NaN,NaN,Bank Charges,52.63,0.00,1,52.63
1,10/01/2018,NaN,NaN,Bank Charges,8.20,0.00,1,8.20
2,16/01/2018,NaN,NaN,Bank Charges,21.66,0.00,1,21.66
3,16/01/2018,NaN,NaN,Bank Charges,8.28,0.00,1,8.28
4,19/01/2018,NaN,NaN,Bank Charges,58.49,0.00,1,58.49
5,22/01/2018,NaN,NaN,Bank Charges,20.21,0.00,1,20.21
6,22/01/2018,NaN,NaN,Bank Charges,58.95,0.00,1,58.95
7,22/01/2018,NaN,NaN,Bank Charges,8.44,0.00,1,8.44
8,22/01/2018,NaN,NaN,Bank Charges,8.44,0.00,1,8.44
9,22/01/2018,NaN,NaN,Bank Charges,21.77,0.00,1,21.77
10,22/01/2018,NaN,NaN,Bank Charges,52.05,0.00,1,52.05
11,25/01/2018,NaN,NaN,Bank Charges,23.34,0.00,1,23.34
12,26/01/2018,NaN,NaN,Bank Charges,60.15,0.00,1,60.15
13,26/01/2018,NaN,NaN,Bank Charges,57.76,0.00,1,57.76
14,31/01/2018,NaN,NaN,Bank Charges,26.02,0.00,1,26.02
15,31/01/2018,NaN,NaN,Bank Charges,8.60,0.00,1,8.60
16,09/01/2018,NaN,NaN,Steve Grunberg Translation services,2049.30,0.00,1,2049.30
17,25/01/2018,NaN,NaN,Monthly account fee,6.91,0.00,1,6.91
18,25/01/2018,NaN,NaN,Transaction duty,0.13,0.00,1,0.13
19,05/02/2018,NaN,NaN,Bank Charges,16.16,0.00,1,16.16
20,05/02/2018,NaN,NaN,Bank Charges,8.50,0.00,1,8.50
21,05/02/2018,NaN,NaN,Bank Charges,21.02,0.00,1,21.02
22,07/02/2018,NaN,NaN,Bank Charges,8.54,0.00,1,8.54
23,09/02/2018,NaN,NaN,Bank Charges,53.59,0.00,1,53.59
24,15/02/2018,NaN,NaN,Bank Charges,16.63,0.00,1,16.63
25,15/02/2018,NaN,NaN,Bank Charges,60.95,0.00,1,60.95
26,16/02/2018,NaN,NaN,Bank Charges,29.22,0.00,1,29.22
27,20/02/2018,NaN,NaN,Bank Charges,60.93,0.00,1,60.93
28,20/02/2018,NaN,NaN,Bank Charges,61.31,0.00,1,61.31
29,20/02/2018,NaN,NaN,Bank Charges,61.31,0.00,1,61.31
...,...,...,...,...,...,...,...,...
1,31/03/2018,NaN,NaN,Service Delivery - Diagnose test a,0.00,3088.31,793,-3088.31
2,31/03/2018,NaN,NaN,Mosaswa Q9 Quarterly report,-262.83,0.00,793,-262.83
3,Net Income : BL793 - Budgetline 793,NaN,262.83,,0.00,0.00,793,0.00
0,31/03/2018,NaN,NaN,MOH Collaboration and E8,2927.82,0.00,794,2927.82
1,31/03/2018,NaN,NaN,MOH Collaboration and E8,0.00,2927.82,794,-2927.82
2,31/03/2018,NaN,NaN,Mosaswa Q9 Quarterly report,2021.57,0.00,794,2021.57
0,31/03/2018,NaN,NaN,Training CHWs and Nurses,924.45,0.00,795,924.45
1,31/03/2018,NaN,NaN,Training CHWs and Nurses,0.00,924.45,795,-924.45
2,31/03/2018,NaN,NaN,Mosaswa Q9 Quarterly report,633.92,0.00,795,633.92
0,31/03/2018,NaN,NaN,Mosaswa Q9 Quarterly report,74.19,0.00,796,74.19
0,31/03/2018,NaN,NaN,Project Running cost,471.52,0.00,797,471.52
1,31/03/2018,NaN,NaN,Project Running cost,0.00,471.52,797,-471.52
2,31/03/2018,NaN,NaN,Mosaswa Q9 Quarterly report,2055.98,0.00,797,2055.98
0,31/03/2018,NaN,NaN,Demand Generation - Monthly Campaig,2789.06,0.00,798,2789.06
1,31/03/2018,NaN,NaN,Demand Generation - Monthly Campaig,0.00,2789.06,798,-2789.06
2,31/03/2018,NaN,NaN,Mosaswa Q9 Quarterly report,338.12,0.00,798,338.12
0,31/03/2018,NaN,NaN,M&E,4924.77,0.00,799,4924.77
1,31/03/2018,NaN,NaN,M&E,0.00,4924.77,799,-4924.77
2,31/03/2018,NaN,NaN,Mosaswa Q9 Quarterly report,847.95,0.00,799,847.95
0,31/03/2018,NaN,NaN,Project Management,4177.78,0.00,801,4177.78
1,31/03/2018,NaN,NaN,Project Management,0.00,4177.78,801,-4177.78
2,31/03/2018,NaN,NaN,Mosaswa Q9 Quarterly report,6931.96,0.00,801,6931.96
0,31/03/2018,NaN,NaN,Project Management Key staff meetin,1477.09,0.00,802,1477.09
1,31/03/2018,NaN,NaN,Project Management Key staff meetin,0.00,1477.09,802,-1477.09
0,31/03/2018,NaN,NaN,Mosaswa Q9 Quarterly report,2328.28,0.00,805,2328.28
0,31/03/2018,NaN,NaN,Mosaswa Q9 Quarterly report,3495.54,0.00,807,3495.54
0,01/02/2018,NaN,NaN,Send documents to Angola,52.59,0.00,808,52.59
1,13/03/2018,NaN,NaN,Supplier Invoice - ARMDA HEALTH.CFC041,92625.00,0.00,808,92625.00
2,01/03/2018,NaN,NaN,Send gloves for the outbreak in ka,151.78,0.00,808,151.78
3,TOTAL NET EXPENSES,1899765.71,NaN,,0.00,0.00,808,0.00