In [1]:
import pandas as pd
import numpy as np
import csv

In [11]:
file='Project_report_20180406.csv'
cr =  csv.reader(open(file,'r'))
#cr = list(cr)
    
data=[]
cols = ['Date', 'Account', 'Reference', 'Description', 'Expenses', 'Income']
d=[] #stores current group
bu='002'
for i in range(3):
    next(cr)
for row in cr:
    #print(row)
    x=row[0]  
    if x in [''] or x.startswith('Net Expenses :'):
        continue
    if x.startswith('Project :'): #we have a new budget line        
        new_bline = x.split()[5]
        #print(x, new_bline)
        #make dataframe from rows for last group and make a new list
        df=pd.DataFrame(d,columns=cols)
        df['budgetline'] = bu
        #print(bu, len(df))
        data.append(df)
        d=[]
        bu=new_bline # set current bline
    else:
        #add row to current group
        d.append(row)
#add last remaining group as well
df=pd.DataFrame(d,columns=cols)
df['budgetline'] = bu
#print(bu, len(df))
data.append(df)
        
result = pd.concat(data)
result=result.convert_objects(convert_numeric=True)
result['Income'] = result.Income.fillna(0) 
result['net_expenses'] = result.Expenses-result.Income
#print (result[500:550])
result.to_csv('result.csv',index=False)
display(result)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:35: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use DataFrame.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.

,Date,Account,Reference,Description,Expenses,Income,budgetline,net_expenses
0,26/07/2017,NaN,NaN,Supplier Invoice - FIN302GFINV.179,1188.52,0.0,2,1188.52
1,26/07/2017,NaN,NaN,Supplier Invoice - FIN302GFINV.179,9.36,0.0,2,9.36
2,26/07/2017,NaN,NaN,Supplier Invoice - FIN302GFINV.179,219.87,0.0,2,219.87
3,26/07/2017,NaN,NaN,Supplier Invoice - FIN302GFINV.179,9.36,0.0,2,9.36
4,26/07/2017,NaN,NaN,Supplier Invoice - FIN302GFINV.179,1188.52,0.0,2,1188.52
5,26/07/2017,NaN,NaN,Supplier Invoice - FIN302GFINV.179,9.36,0.0,2,9.36
6,26/07/2017,NaN,NaN,Supplier Invoice - FIN302GFINV.179,335.18,0.0,2,335.18
7,26/07/2017,NaN,NaN,Supplier Invoice - FIN302GFINV.179,9.36,0.0,2,9.36
8,26/07/2017,NaN,NaN,Supplier Invoice - FIN302GFINV.179,233.01,0.0,2,233.01
9,26/07/2017,NaN,NaN,Supplier Invoice - FIN302GFINV.179,9.36,0.0,2,9.36
10,26/07/2017,NaN,NaN,Supplier Invoice - FIN302GFINV.179,603.48,0.0,2,603.48
11,26/07/2017,NaN,NaN,Supplier Invoice - FIN302GFINV.179,9.36,0.0,2,9.36
12,26/07/2017,NaN,NaN,Supplier Invoice - FIN302GFINV.179,900.23,0.0,2,900.23
13,26/07/2017,NaN,NaN,Supplier Invoice - FIN302GFINV.179,9.36,0.0,2,9.36
14,26/07/2017,NaN,NaN,Supplier Invoice - FIN302GFINV.179,741.09,0.0,2,741.09
15,26/07/2017,NaN,NaN,Supplier Invoice - FIN302GFINV.179,9.36,0.0,2,9.36
16,26/07/2017,NaN,NaN,Supplier Invoice - FIN302GFINV.179,950.20,0.0,2,950.20
17,26/07/2017,NaN,NaN,Supplier Invoice - FIN302GFINV.179,9.36,0.0,2,9.36
18,26/07/2017,NaN,NaN,Supplier Invoice - FIN302GFINV.179,796.45,0.0,2,796.45
19,26/07/2017,NaN,NaN,Supplier Invoice - FIN302GFINV.179,9.36,0.0,2,9.36
20,26/07/2017,NaN,NaN,Supplier Invoice - FIN302GFINV.179,796.45,0.0,2,796.45
21,26/07/2017,NaN,NaN,Supplier Invoice - FIN302GFINV.179,9.36,0.0,2,9.36
22,26/07/2017,NaN,NaN,Supplier Invoice - FIN302GFINV.179,373.62,0.0,2,373.62
23,26/07/2017,NaN,NaN,Supplier Invoice - FIN302GFINV.179,9.36,0.0,2,9.36
24,26/07/2017,NaN,NaN,Supplier Invoice - FIN302GFINV.179,1011.70,0.0,2,1011.70
25,26/07/2017,NaN,NaN,Supplier Invoice - FIN302GFINV.179,9.36,0.0,2,9.36
26,26/07/2017,NaN,NaN,Supplier Invoice - FIN302GFINV.179,1188.52,0.0,2,1188.52
27,26/07/2017,NaN,NaN,Supplier Invoice - FIN302GFINV.179,9.36,0.0,2,9.36
28,26/07/2017,NaN,NaN,Supplier Invoice - FIN302GFINV.179,7.36,0.0,2,7.36
29,26/07/2017,NaN,NaN,Supplier Invoice - FIN302GFINV.179,7.36,0.0,2,7.36
...,...,...,...,...,...,...,...,...
43,29/09/2017,NaN,NaN,MAG Guedes NHP 70%,135.99,0.0,281,135.99
44,29/09/2017,NaN,NaN,M Guedes SSC 70%,8.36,0.0,281,8.36
45,29/09/2017,NaN,NaN,MAG Guedes PAYE 70%,801.83,0.0,281,801.83
46,27/10/2017,NaN,NaN,MAG Guedes leave provision 70%,220.67,0.0,281,220.67
47,27/10/2017,NaN,NaN,MAG guedes Net salary 70%,2666.26,0.0,281,2666.26
48,27/10/2017,NaN,NaN,MAG Guedes NHP 70%,130.17,0.0,281,130.17
49,27/10/2017,NaN,NaN,M Guedes SSC 70%,8.01,0.0,281,8.01
50,27/10/2017,NaN,NaN,MAG Guedes PAYE 70%,838.53,0.0,281,838.53
51,28/11/2017,NaN,NaN,MAG Guedes leave provision 70%,226.62,0.0,281,226.62
52,28/11/2017,NaN,NaN,MAG guedes Net salary 70%,2688.44,0.0,281,2688.44
53,28/11/2017,NaN,NaN,MAG Guedes NHP 70%,132.93,0.0,281,132.93
54,28/11/2017,NaN,NaN,M Guedes SSC 70%,8.18,0.0,281,8.18
55,28/11/2017,NaN,NaN,MAG Guedes PAYE 70%,842.57,0.0,281,842.57
56,15/12/2017,NaN,NaN,MAG Guedes leave provision 70%,232.07,0.0,281,232.07
57,15/12/2017,NaN,NaN,MAG guedes Net salary 70%,2660.23,0.0,281,2660.23
58,15/12/2017,NaN,NaN,MAG Guedes NHP 70%,136.89,0.0,281,136.89
59,15/12/2017,NaN,NaN,M Guedes SSC 70%,8.41,0.0,281,8.41
60,15/12/2017,NaN,NaN,MAG Guedes PAYE 70%,825.53,0.0,281,825.53
0,24/01/2017,NaN,NaN,T Mukwashi fees,7675.00,0.0,282,7675.00
1,24/02/2017,NaN,NaN,T Mukwashi - Feb Consultncy fees,9693.00,0.0,282,9693.00
2,23/03/2017,NaN,NaN,T Mukwashi fees,8500.00,0.0,282,8500.00
3,24/04/2017,NaN,NaN,T Mukwashi consultation fees,8500.00,0.0,282,8500.00
4,23/05/2017,NaN,NaN,T.MUKWASHI MAY INVOICE,8500.00,0.0,282,8500.00
5,26/06/2017,NaN,NaN,T Mukwashi Consult Fee,8500.00,0.0,282,8500.00
6,24/07/2017,NaN,NaN,Tapiwa Mukwashi Inv,8500.00,0.0,282,8500.00
7,25/08/2017,NaN,NaN,Tapiwa monthly fees,8600.00,0.0,282,8600.00
8,02/10/2017,NaN,NaN,T Mukashi consulttion fees,8896.50,0.0,282,8896.50
9,31/10/2017,NaN,NaN,T Mukwashi consultation fee,7967.01,0.0,282,7967.01
10,20/12/2017,NaN,NaN,Tapiwa Consultancy fees Dec,8500.00,0.0,282,8500.00
11,TOTAL NET EXPENSES,2431559.56,NaN,,NaN,0.0,282,NaN

In [5]:
result.groupby('budgetline').agg({'Income':np.sum})

               Income
budgetline
2                0.00
3                0.00
4                0.00
7                0.00
9                0.00
12            3790.83
13               0.00
14               0.00
17               0.00
21            8417.24
22           11943.01
23               0.00
24           10124.75
25           10052.23
26           21571.31
27           17123.89
29            5803.76
30               0.00
33               2.21
35               0.00
36            4711.70
37            2382.97
40             345.87
41             278.45
42             219.62
43            1875.81
44               0.00
46               0.00
48            7047.06
50               0.00
...               ...
112              0.00
115              0.00
119              0.00
123              0.00
124              0.00
125              0.00
127              0.00
129              0.00
133              0.00
134              0.00
137            992.97
145              0.00
146           9637.20
149           1270.41
151              0.00
157           1231.29
168              0.00
171            858.82
172          20475.98
173              0.00
176              0.00
182         122901.73
186              0.00
190              0.00
200              0.00
209              0.00
212              0.00
214              0.00
231              0.00
281           9412.41

[86 rows x 1 columns]