In [3]:
import numpy as np

In [4]:
import pandas as pd

In [28]:
s=pd.Series(np.random.randn(5),index=['a','b','c','d','e'])

In [29]:
s

a   -0.273825
b   -0.720889
c   -0.817932
d    0.717048
e    0.833642
dtype: float64

In [14]:
s.index

Index(['a', 'a', 'c', 'd', 'e'], dtype='object')

In [15]:
pd.Series(np.random.randn(5))

0    1.698721
1    0.285554
2   -1.150842
3    0.174762
4   -0.785694
dtype: float64

In [16]:
d={'a':0.,'b':1.,'c':2.}

In [17]:
pd.Series(d)

a    0.0
b    1.0
c    2.0
dtype: float64

In [18]:
pd.Series(d, index=['b','c','d','a'])

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [19]:
pd.Series(5.,index=['a','b','c','d','e'])

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
dtype: float64

In [30]:
s[0]

-0.2738254181086428

In [31]:
s[s>s.median()]

d    0.717048
e    0.833642
dtype: float64

In [32]:
s[[4,3,1]]

e    0.833642
d    0.717048
b   -0.720889
dtype: float64

In [34]:
s['a']

-0.2738254181086428

In [36]:
s['e']=12

In [37]:
s

a    -0.273825
b    -0.720889
c    -0.817932
d     0.717048
e    12.000000
dtype: float64

In [38]:
'e' in s

True

In [39]:
'f' in s

False

In [40]:
s['f']

KeyError: 'f'

In [43]:
s.get('f')

In [44]:
s.get('f',np.nan)

nan

In [45]:
s+s

a    -0.547651
b    -1.441778
c    -1.635865
d     1.434095
e    24.000000
dtype: float64

In [46]:
s*2

a    -0.547651
b    -1.441778
c    -1.635865
d     1.434095
e    24.000000
dtype: float64

In [47]:
np.exp(s)

a         0.760465
b         0.486320
c         0.441343
d         2.048377
e    162754.791419
dtype: float64

In [48]:
s[1:]

b    -0.720889
c    -0.817932
d     0.717048
e    12.000000
dtype: float64

In [49]:
s[:-1]

a   -0.273825
b   -0.720889
c   -0.817932
d    0.717048
dtype: float64

In [50]:
s[1:]+ s[:-1]

a         NaN
b   -1.441778
c   -1.635865
d    1.434095
e         NaN
dtype: float64

In [53]:
s=pd.Series(np.random.randn(5),name='something')

In [54]:
s

0   -0.030455
1   -0.886041
2    0.312358
3   -0.210588
4    1.176934
Name: something, dtype: float64

In [55]:
s.name

'something'

In [57]:
s2=s.rename('different')

In [58]:
s2

0   -0.030455
1   -0.886041
2    0.312358
3   -0.210588
4    1.176934
Name: different, dtype: float64

In [59]:
s2.name

'different'

In [6]:
d={'one': pd.Series([1.,2.,3.],index=['a','b','c']),
    'two': pd.Series([1.,2.,3.,4.],index=['a','b','c','d'])}

In [7]:
df=pd.DataFrame(d)

In [8]:
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [9]:
pd.DataFrame(d, index=['d','b','a'])

   one  two
d  NaN  4.0
b  2.0  2.0
a  1.0  1.0

In [10]:
pd.DataFrame(d, index=['d','b','a'], columns=['two','three'])

   two three
d  4.0   NaN
b  2.0   NaN
a  1.0   NaN

In [11]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [12]:
df.columns

Index(['one', 'two'], dtype='object')

In [13]:
d={'one':[1.,2.,3.,4.],
      'two':[4.,3.,2.,1.]}

In [14]:
pd.DataFrame(d)

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0
3  4.0  1.0

In [15]:
pd.DataFrame(d,index=['a','b','c','d'])

   one  two
a  1.0  4.0
b  2.0  3.0
c  3.0  2.0
d  4.0  1.0

In [16]:
data = np.zeros((2), dtype = [('A','i4'),('B','f4'),('C','a10')])

In [17]:
data[:]=[(1,2., 'Hello'),(2,3., 'World')]

In [18]:
pd.DataFrame(data)

   A    B         C
0  1  2.0  b'Hello'
1  2  3.0  b'World'

In [19]:
pd.DataFrame(data, index=['first','second'])

        A    B         C
first   1  2.0  b'Hello'
second  2  3.0  b'World'

In [20]:
pd.DataFrame(data, columns=['A','B','C'])

   A    B         C
0  1  2.0  b'Hello'
1  2  3.0  b'World'

In [21]:
pd.DataFrame(data,columns=['C','B','A'])

          C    B  A
0  b'Hello'  2.0  1
1  b'World'  3.0  2

In [22]:
data2 = [{'a':1,'b':2},{'a':5,'b':10,'c':20}]

In [23]:
pd.DataFrame(data2)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [24]:
pd.DataFrame(data2, index=['first','second'])

        a   b     c
first   1   2   NaN
second  5  10  20.0

In [25]:
pd.DataFrame(data2,columns=['a','b'])

   a   b
0  1   2
1  5  10

In [26]:
pd.DataFrame({('a','b'):{('A','B'): 1, ('A','C'):2},
            ('a', 'a') :{('A','C'):3, ('A','B'):4},
            ('a','c') : {('A','B'):5, ('A','C'):6},
            ('b','a'):  {('A','C'):7,  ('A','B'):8},
            ('b','b'):  {('A','D'):9,  ('A','B'):10}})

       a              b
       a    b    c    a     b
A B  4.0  1.0  5.0  8.0  10.0
  C  3.0  2.0  6.0  7.0   NaN
  D  NaN  NaN  NaN  NaN   9.0

In [27]:
data

array([(1,  2., b'Hello'), (2,  3., b'World')],
      dtype=[('A', '<i4'), ('B', '<f4'), ('C', 'S10')])

In [28]:
pd.DataFrame.from_records(data,index='C')

          A    B
C
b'Hello'  1  2.0
b'World'  2  3.0

In [29]:
pd.DataFrame.from_items([('A',[1,2,3]),('B',[4,5,6])])

   A  B
0  1  4
1  2  5
2  3  6

In [30]:
pd.DataFrame.from_items([('A',[1,2,3]),('B',[4,5,6])],
                        orient='index',columns=['one','two','three'])

   one  two  three
A    1    2      3
B    4    5      6

In [31]:
df['one']

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [32]:
df['two']

a    1.0
b    2.0
c    3.0
d    4.0
Name: two, dtype: float64

In [33]:
df['three']=df['one']*df['two']

In [34]:
df['flag']=df['one']>2

In [35]:
df

   one  two  three   flag
a  1.0  1.0    1.0  False
b  2.0  2.0    4.0  False
c  3.0  3.0    9.0   True
d  NaN  4.0    NaN  False

In [36]:
del df['two']

In [37]:
df

   one  three   flag
a  1.0    1.0  False
b  2.0    4.0  False
c  3.0    9.0   True
d  NaN    NaN  False

In [38]:
df['foo']='bar'

In [136]:
df

   one  three   flag  foo
a  1.0    1.0  False  bar
b  2.0    4.0  False  bar
c  3.0    9.0   True  bar
d  NaN    NaN  False  bar

In [139]:
df

   one   flag  foo
a  1.0  False  bar
b  2.0  False  bar
c  3.0   True  bar
d  NaN  False  bar

In [143]:
df['one_trunc']=df['one'][:2]

In [41]:
df

   one  three   flag  foo
a  1.0    1.0  False  bar
b  2.0    4.0  False  bar
c  3.0    9.0   True  bar
d  NaN    NaN  False  bar

In [42]:
df.insert(1,'bar',df['one'])

In [43]:
df

   one  bar  three   flag  foo
a  1.0  1.0    1.0  False  bar
b  2.0  2.0    4.0  False  bar
c  3.0  3.0    9.0   True  bar
d  NaN  NaN    NaN  False  bar

In [46]:
iris=pd.read_csv('Iris_data.csv')

In [47]:
iris.head()

   SepalLength   SepalWidth  PetalLength  PetalWidth         Name
0           5.1         3.5          1.4         0.2  Iris-setosa
1           4.9         3.0          1.4         0.2  Iris-setosa
2           4.7         3.2          1.3         0.2  Iris-setosa
3           4.6         3.1          1.5         0.2  Iris-setosa
4           5.0         3.6          1.4         0.2  Iris-setosa

In [53]:
(iris.assign(sepal_ratio = iris['SepalWidth'] / iris['SepalLength '])
     .head())

   SepalLength   SepalWidth  PetalLength  PetalWidth         Name  sepal_ratio
0           5.1         3.5          1.4         0.2  Iris-setosa     0.686275
1           4.9         3.0          1.4         0.2  Iris-setosa     0.612245
2           4.7         3.2          1.3         0.2  Iris-setosa     0.680851
3           4.6         3.1          1.5         0.2  Iris-setosa     0.673913
4           5.0         3.6          1.4         0.2  Iris-setosa     0.720000

In [54]:
iris.assign(sepal_ration = lambda x: (x['SepalWidth']/
                                      x['SepalLength '])).head()

,SepalLength,SepalWidth,PetalLength,PetalWidth,Name,sepal_ration
0,5.1,3.5,1.4,0.2,Iris-setosa,0.686275
1,4.9,3.0,1.4,0.2,Iris-setosa,0.612245
2,4.7,3.2,1.3,0.2,Iris-setosa,0.680851
3,4.6,3.1,1.5,0.2,Iris-setosa,0.673913
4,5.0,3.6,1.4,0.2,Iris-setosa,0.720000

In [56]:
(iris.query('SepalLength  > 5')
     .assign(SepalRatio= lambda x: x.SepalWidth / x.SepalLenght ,
             PetalRatio= lambda x: x.PetalWidth / x.PetalLength)
     .plot(kind='scatter',x='SepalRatio',y='PetalRatio'))

UndefinedVariableError: name 'SepalLength' is not defined