In [1]:
import pandas as pd

In [2]:
drinks= pd.read_csv('http://bit.ly/drinksbycountry')

In [3]:
drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [4]:
import numpy as np
drinks.select_dtypes(include=[np.number]).dtypes

beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
dtype: object

In [9]:
drinks.describe(include =['object','float64'])

       country  total_litres_of_pure_alcohol continent
count      193                    193.000000       193
unique     193                           NaN         6
top      Niger                           NaN    Africa
freq         1                           NaN        53
mean       NaN                      4.717098       NaN
std        NaN                      3.773298       NaN
min        NaN                      0.000000       NaN
25%        NaN                      1.300000       NaN
50%        NaN                      4.200000       NaN
75%        NaN                      7.200000       NaN
max        NaN                     14.400000       NaN

In [16]:
import random

In [17]:
random.randint(6,100)

17

In [18]:
"hi"5

SyntaxError: invalid syntax (<ipython-input-18-569aaee41dee>, line 1)

In [19]:
3+"hi"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [20]:
type('sex')

str

In [21]:
list('sec')

['s', 'e', 'c']